:root {
  --active-color: #A2D729;
  --deactive-color: #1B5E20; 
  --background-color: #E9F7C2;
}

html {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  max-width: 1080px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

#beat-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 2;
}

.beat-box {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: var(--deactive-color);
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}

input {
  margin: 10px;
  width: 80%;
  font-size: 40px;
  display: block;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

#start-metronome-button {
  width: 100px;
  height: 100px;
  background-color: var(--deactive-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

svg {
  width: 60%;
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }
}
