
:root {
  --active-color: #08D9D6;
  --deactive-color: #EAEAEA;
  --warning-color: #c02e2e;
}

.active-background {
  background: var(--active-color);
}

.active-fill {
  fill: var(--active-color);
}

.deactive-background {
  background: var(--deactive-color);
  fill: var(--active-color);
}

.deactive-fill {
  fill: var(--deactive-color);
}

.warning-highlight {
  box-shadow: none;
  border: 5px solid var(--warning-color);
}

html {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
}

body {
  max-width: 1080px;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#beat-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 2;
}

.beat-box {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 20%;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 4;
}

input {
  margin: 10px;
  width: 80%;
  font-size: 40px;
  display: block;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

#start-metronome-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

svg {
  width: 60%;
  display: none;
}

#theme-switch {
  margin-top: -20px;
  align-self: flex-end;
  margin-right: 10px;
}
